/*****************************************
 *
 *	MAIN STYLE SHEET
 *
*****************************************/

/* INCLUDE OTHERS STYLE SHEETS */
@import url("mediaboxadvanced/css/mediaboxAdvBlack.css");

/* DEFAULT OPTIONS */
body {
	margin: 0;
	padding: 1em;
    text-align: center;
   	background: #e8e8e8;
	color: #000;
	font-size: 80%;
	line-height: 1.6em;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	
	border-top: 6px solid #455200;
}            
a {color: #000;}
a:hover {color: red;}

/**
 *	PAGE
 */
div#page {
    -moz-border-radius: .5em;
	border-radius: .5em;
}

/**
 *	HEADER
 */
div#header {
	padding: .5em 1em;
}
	div#header h1 {text-align: left;}
		div#header h1 a {
			color: #455200;
			font-size: 1em;
			font-family: Scrptina, verdana;
			text-decoration: none;
		}
		div#heeader h1 a:hover {
			color: #fff;
		}


/**
 *	LOGIN
 */
div#login {
	position: absolute;
	top: 0;
	right: 20px;
	background: #455200;
	
	border-radius: .5em;
	-moz-border-radius-bottomleft: .5em;
	-moz-border-radius-bottomright: .5em;
	
	padding: 5px;
	color: #fff;
}
	div#login p {margin: 0; display: inline;}
		div#login p span.logout a {
			background: url(shortcuts/system-log-out.png) 3px 3px no-repeat #dde189;
			text-decoration: none;
			padding: 3px;
			padding-left: 20px;
			border-radius: .5em;
			-moz-border-radius: .5em;
		}


/**
 *	CONTENT
 */
div#content {
    background: #dde189;
    padding: .5em;
}
	div#navigation {
		text-align: left;
	}
	
/**
 *	TOOLS
 */
div#tools {
	position: absolute;
	right: 200px;
}
	div#tools div.box-title {
		text-align: center;
		padding: 5px;
		padding-left: 24px;
		text-decoration: none;
		color: #fff;
		background: url(shortcuts/applications-system.png) 5px 7px no-repeat #455200;
		border-radius: .5em;
		-moz-border-radius-topleft: .5em;
		-moz-border-radius-topright: .5em;
	}
	div#tools div.box-content {display:none;}
		div#tools div.box-content ul {
			margin: 0;
			padding: 5px;
			background-color: #455200;
			border-radius: .5em;
			-moz-border-radius-bottomleft: .5em;
			-moz-border-radius-bottomright: .5em;
			position: absolute;
			width: 231px;
		}
			div#tools div.box-content ul li {
				margin: 0;
				margin-bottom: 5px;
				list-style: none;
				
			}
				div#tools div.box-content ul li a {
					text-decoration: none;
					padding: 3px;
					padding-left: 20px;
					background: url(shortcuts/system-log-out.png) 3px 5px no-repeat #dde189;
					border-radius: .5em;
					-moz-border-radius: .5em;
					display: block;
				}
					div#tools div.box-content ul li.newfolder a {
						background-image: url(shortcuts/folder-new.png);
					}
					div#tools div.box-content ul li.newfile a {
						background-image: url(shortcuts/file-new.png);
					}

/**
 *	SHORTCUTS
 */
div#shortcuts {
	/*width: 200px;*/
	float: left;
}
	div#shortcuts div.box div.box-title {display: none;}
	div#shortcuts div.box div.box-content ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
		div#shortcuts div.box div.box-content ul li {
			float: left;
			margin-left: 3px;
			
		}
			div#shortcuts div.box div.box-content ul li a {
				display: block;
				padding: 5px;
				text-decoration: none;
				
				color: #fff;
				background: #455200;
				
				border-radius: .5em;
				-moz-border-radius-topleft: .5em;
				-moz-border-radius-topright: .5em;
			}
			div#shortcuts div.box div.box-content ul li a:hover {
				background: #fff;
				color: #000;
			}
			div#shortcuts div.box div.box-content ul li.current a {
				background-color: #fff;
				color: #000;
			}

/**
 *	LIST FOLDERS & FILES
 */
div#module {
	clear: both;
	background: #fff;
	padding: .2em;
	
	border-radius: .5em;
	-moz-border-radius-bottomleft: .5em;
	-moz-border-radius-bottomright: .5em;
}
	div#module p.error {
		color: red;
	}
	div#module ul li {
		list-style-type: none;
		text-align: center;
		float: left;
		width: 80px;
		
		margin: 3px;
	}
		div#module ul li a {
			display: block;
			padding: 3px;
			
			height: 80px;
			border: 1px solid #fff;
		}
			div#module ul li a:hover {
				border: 1px solid #DDE189;
			}
		div#module ul li img {
			border: 0;
		}
		div#module ul li span.filename {
			font-size: .8em;
		}
		div#module ul li span.params {
			font-size: .8em;
			color: #999;
		}
		
			/* ITEM = file / images */
			div#module ul li.picture img {
				/*height: 52px;*/
			}
			div#module ul li.picture div.actions {
				position: relative;
				top: -90px;
				left: 35px;
				background-color: #fff;
			}
				div#module ul li.picture div.actions ul li {
					width: 130px;
					
					text-align: left;
				}
					div#module ul li.picture div.actions ul li a {
						display: inline;
						padding-left: 22px;
					}
				div#module ul li.picture div.actions ul li.rotate a {
					background: url(shortcuts/object-rotate-right.png) 3px 3px no-repeat #fff;
				}
				div#module ul li.picture div.actions ul li.refresh a {
					background: url(shortcuts/view-refresh.png) 3px 3px no-repeat #fff;
				}
					div#module ul li.picture div.actions ul li a span {display: none;}
					
				div#module ul li.picture span.filename, div#module ul li.document span.filename {
					font-size: .6em;
					color: #999;
				}
				div#module ul li.picture a, div#module ul li.picture a:hover {
					color: #000;
					text-decoration: none;
				}
			
			/* ITEM = folders */
			div#module ul li.folder img {
				height: 52px;
			}
			div#module ul li.folder a, div#module ul li.folder a:hover {
				color: #000;
				text-decoration: none;
			}
			
			/* ITEM = file / documents */
			div#module ul li.document a, div#module ul li.document a:hover {
				color: #000;
				text-decoration: none;
			}
			
			/* ITEM = file / videos */
			div#module ul li.video a, div#module ul li.video a:hover {	
				color: #000;
				text-decoration: none;
			}
			div#module ul li.video img {
				height: 52px;
			}
			
	/* info */
	div#module div.info {
		clear: both;
		color: #999;
		font-size: 60%;
		text-align: left;
	}
		div#module div.info div.directory {
			
		}
	
/**
 *	FOOTER
 */
div#footer {
    padding: 1em;
}
	div#footer div.copyright a {
		color: #000;
		text-decoration: none;
	}
	
	div#footer div.modules ul li {
		display: inline;
		margin-right: 10px;
	}